n8n-workflows/negotiation-ai-suggestion.json
{
  "name": "Negotiation AI Suggestion",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "path": "negotiation-ai-suggestion",
        "methods": ["POST"],
        "responseMode": "onReceived",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "2",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "functionCode": "const body = JSON.parse($json.body);\nreturn [{ json: body }];"
      }
    },
    {
      "id": "3",
      "name": "Build Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [760, 300],
      "parameters": {
        "values": {
          "string": [
            { "name": "message", "value": "Negotiation {{ $json.sessionId }} requested AI suggestion" },
            { "name": "summary", "value": "Owner {{ $json.ownerUserId }} instructions: {{ $json.instructions || 'none' }}" }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "HTTP Hook (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1020, 300],
      "parameters": {
        "method": "POST",
        "url": "https://example.com/automation/negotiation-ai",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"sessionId\": \"{{$json.sessionId}}\",\n  \"ownerUserId\": \"{{$json.ownerUserId}}\",\n  \"instructions\": \"{{$json.instructions}}\",\n  \"summary\": \"{{$json.summary}}\",\n  \"occurredAt\": \"{{$json.occurredAt}}\"\n}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Payload", "type": "main", "index": 0 }]]
    },
    "Parse Payload": {
      "main": [[{ "node": "Build Notification", "type": "main", "index": 0 }]]
    },
    "Build Notification": {
      "main": [[{ "node": "HTTP Hook (optional)", "type": "main", "index": 0 }]]
    }
  }
}
